@import url("/css/header.css");
@import url("/css/footer.css") screen;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    background-color: #333333;
    height: auto;
    width: 100%;
    padding-top:10%;
}

.titulo-container{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin: 0;
    }

.titulo-container img{
   display: flex;
   justify-content: flex-start;
   height: 70px;
   margin-left: 10px;
}

.titulo-container img:hover {
  height: 90px;
  transition: 0.7s;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    margin-right: 100px;
    font-size: 6.25rem;
    color: white;
    
}


.drums-container{
   position: relative;
   max-width: 100%;
   margin: 0 auto;
   /* z-index: 0; */
   display: flex;
   justify-content: center;
   align-items: center;
} 
 
.drums-image{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width:100%;
        height: auto;
        margin: auto;
        /* z-index: 2;  */
}
        
  .button{
         position: absolute;
         outline: none;
         border: 1vw solid rgba(0, 0, 0, 0);
         border-radius:50%;
         color: transparent;
         background-color: rgba(0, 0, 0, 0);
        
    }
    
    .animation {
        box-shadow: 0 10px 10px 0 #F2A649;
        opacity: 0.5;
    }

    .a {
        position: absolute;
        top: 5%;
        left: 23%;
        width: 15%;
        height: 45%;
        /* z-index: 3; */
        border-radius: 50%;
    }

    .s {
        position: absolute;
        top: 16%;
        left: 63%;
        width: 13%;
        height: 39%;
        /* z-index: 3; */
        border-radius: 50%;
    }

    .d {
        position: absolute;
        top: 23%;
        left: 38%;
        width: 11%;
        height: 32%;
        /* z-index: 3; */
        border-radius: 50%;
    }

    .f {
        position: absolute;
        top: 25%;
        left: 52%;
        width: 11%;
        height: 31%;
        /* z-index: 3; */
        border-radius: 50%;
    }
    
    .j {
        position: absolute;
        top: 59%;
        left: 40%;
        width: 11%;
        height: 32%;
        z-index: 3;
        border-radius: 50%;
    }

    .k {
        position: absolute;
        top: 54%;
        left: 28%;
        width: 12%;
        height: 36%;
        z-index: 3;
        border-radius: 50%;
    }

    .l {
        position: absolute;
        top: 64%;
        left: 57%;
        width: 10%;
        height: 30%;
        z-index: 3;
        border-radius: 50%;
        
      }
    
    .text-container {
        font-family: "Poppins", sans-serif;
        font-size: 1.438rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 0 20px 270px;
        
    }
    
    .text-container p {
        padding: 15px;
        
    }
   
       .text-container ul li {
        content:"•";
        color: #fff;
        margin-left: 20px;
      
    }

    @media screen and (max-width: 768px) {
    .titulo-container{
        flex-direction: column;
        align-items: center;
        height: auto; 
    }
    
    .titulo-container img{
        height: 50%;
        margin-left: 10px;
}

    h1{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 100;
        font-size: 6.25rem;
        color: white;
        margin-right: 100px;
    }


    .titulo-container img:hover{
        height: auto;
        transition: none;
}

  }

@media screen and (max-width: 1212px){
    .drums-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .drums-image{
        max-width: 70%;
        margin: auto;
    }
}


@media screen and (max-width: 1212px){
   .a {
      
        top: 6%;
        left: 15%;
        width: 19%;
        height: 43%;
    } 

    .s{
        top: 17%;
        left: 68%;
        width: 17%;
        height: 38%;
    }
   
    .d{
        top: 24%;
        left: 35%;
        width: 14%;
        height: 32%;
    }

    .f {
        top: 25%;
        left: 54%;
        width: 13%;
        height: 29%;
    }
    .j {
        position: absolute;
        top: 57%;
        left: 36%;
        width: 14%;
        height: 32%;
    }
    .k {
        position: absolute;
        top: 66%;
        left: 60%;
        width: 13%;
        height: 28%;
    }

    .l {
        position: absolute;
        top: 54%;
        left: 23%;
        width: 15%;
        height: 34%;
}
}  

@media screen and (max-width: 768px){
    .text-container {
    list-style-type: none;
    align-items: center;
    padding: 50px 0 20px 0;
} 
}  

   
 