@import url("/css/header.css");
@import url("/css/footer.css") screen;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    background-color: #333333;
    height: auto;
    width: 100%;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 187.6px;
    }

.titulo-container img{
   display: flex;
   height: 70px;
   margin-left: 70px;
   cursor: pointer;
   transition: .4s ease-in-out;
}

.titulo-container img:hover {
    transform: scale(1.2);
}

h1{
    font-family: "Bebas Neue", sans-serif;
    margin-right: 100px;
    font-size: 6.25rem;
    color: #ffff;
    
}


.drums-container{
   position: relative;
   max-width: 100%;
   margin: 0 auto;
   /* z-index: 0; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
} 
 
.drums-image{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width:100%;
        height: auto;
        margin: auto;
        /* z-index: 2;  */
}
        
  .button{
         position: absolute;
         outline: none;
         border: 3px solid rgba(161, 39, 39, 0);
         border-radius:50%;
         color: #ffff;
         font-size: 30px;
         text-transform: uppercase;
         background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
    }


    .button:hover{
        color:#F2A649;
    }
    
    .animation {
        box-shadow: 0 10px 10px 0 #F2A649;
        opacity: 0.5;
    }

    .a {
        
        position: absolute;
        top: 8%;
        left: 0;
        width: 25%;
        height: 40%;
        /* z-index: 3; */
        border-radius: 50%;
    }

    .f {
        position: absolute;
        top: 17%;
        left: 75%;
        width: 25%;
        height: 39%;
        /* z-index: 3; */
        border-radius: 50%;
    }

    .s {
        position: absolute;
        top: 24%;
        left: 28%;
        width: 19%;
        height: 32%;
        /* z-index: 3; */
        border-radius: 50%;
    }

    .d {
        position: absolute;
        top: 25%;
        left: 56%;
        width: 19%;
        height: 32%;
        /* z-index: 3; */
        border-radius: 50%;
    }
    
    .k {
        position: absolute;
        top: 59%;
        left: 31%;
        width: 20%;
        height: 32%;
        z-index: 3;
        border-radius: 50%;
    }

    .j {
        position: absolute;
        top: 54%;
        left: 8%;
        width: 22%;
        height: 34%;
        z-index: 3;
        border-radius: 50%;
    }

    .l {
        position: absolute;
        top: 65%;
        left: 65%;
        width: 18%;
        height: 28%;
        z-index: 3;
        border-radius: 50%;
        
      }
    
    .text-container {
        font-family: "Poppins", sans-serif;
        font-size: 1.438rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
        font-weight: 300;
        
    }
    
    .text-container p {
        padding: 15px;
        text-wrap: balance;
        line-height: 40px;
        
    }
   
       .text-container ul li {
        color: #fff;
        margin-left: 50px;
      
    }

    @media screen and (max-width: 768px) {
    .titulo-container{
        width: 100%;
        height: 200px;
        padding-top: 30px;
    }
    
    .titulo-container img{
        height: 60px;
        margin-left: 0;
}

    h1{
        font-family: "Bebas Neue", sans-serif;
        font-size: 3rem;
        margin-right: 10px;
    }


    .titulo-container img:hover{
        height: auto;
        transition: none;
    }

    .text-container {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

  }

@media screen and (max-width: 1212px){
    .drums-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .drums-image{
        max-width: 100%;
        margin: auto;
    }
}


@media screen and (max-width: 1212px){
   .a {
      
        top: 6%;
        left: 1%;
        width: 26%;
        height: 43%;
    } 

    .f{
        top: 18%;
        left: 75%;
        width: 24%;
        height: 37%;
    }
   
    .s{
        top: 24%;
        left: 28%;
        width: 20%;
        height: 32%;
    }

    .d {
        top: 25%;
        left: 55%;
        width: 20%;
        height: 29%;
    }
    .k {
        position: absolute;
        top: 59%;
        left: 31%;
        width: 20%;
        height: 32%;
    }
    .l{
        position: absolute;
        top: 66%;
        left: 65%;
        width: 17%;
        height: 27%;
    }

    .j {
        position: absolute;
        top: 54%;
        left: 8%;
        width: 22%;
        height: 34%;
}
}  

@media  (max-width: 769px) and (min-width: 1212px ) {
    .a {
      
        top: 6%;
        left: 18%;
        width: 17%;
        height: 43%;
    } 

    .f{
        top: 18%;
        left: 66%;
        width: 16%;
        height: 37%;
    }
   
    .s{
        top: 24%;
        left: 37%;
        width: 12%;
        height: 30%;
    }

    .d {
        top: 26%;
        left: 54%;
        width: 12%;
        height: 28%;
    }
    .k {
        position: absolute;
        top: 59%;
        left: 38%;
        width: 13%;
        height: 32%;
    }
    .l{
        position: absolute;
        top: 66%;
        left: 60%;
        width: 10%;
        height: 27%;
    }

    .j {
        position: absolute;
        top: 54%;
        left: 23%;
        width: 15%;
        height: 34%;
}
    
}


   
 