*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    --color-primario: #333333;
    --bg-primario: #333333;
    --bg-secundario: #f2d03b;
    --text-color-primario: #ffff;
    --text-color-secundario: #000000;
    --footer-color: #000000;
}

/* Footer */

footer {
    height: 150px;
    width: 100%;
    background: black;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: .75rem;
}
