*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* Footer */

footer {
    height: 150px;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: .75rem;
}
