@import url("/css/header.css");
@import url("/css/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;600&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}
.first-section {
	width: 100%;
    height: 100vh;
	display:flex;
	align-items: center;
	background-image: url("/assets/img/landing.jpg");
	background-size: cover;
	background-position: center center;

}

@media (min-width: 768px) {
	.first-section{
		background-position: center center;
	}
	.landing-description {
		background:linear-gradient(176deg, rgba(242,166,73,0.8) 30%, rgba(243,222,160,0.8) 70%);
		position: relative;
		width: 500px;
		height: 270px;

	}
	h1 {
		margin-left: 4rem;
	}
	p {
		margin-left: 4rem;
	}
	.third-section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		column-gap: 0px;
		row-gap: 0px;
	}
	.salome-wrap { 
		grid-area: 1 / 1 / 2 / 2;
		width: 33,33vw;
		background-position: center center;
		background-size: cover;
	}
	.salome-wrap:hover{
		background-position: center center;
		transition: 500ms ease-in-out;
		background-size: cover;
	}
	
.pamela-wrap { 
	grid-area: 2 / 1 / 3 / 2;
	background-position: center center;
	background-size: cover;
}
.pamela-wrap:hover{
	background-position: center center;
	background-size: cover;
}
.isadora-wrap { 
	grid-area: 1 / 2 / 3 / 3;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background: url("/assets/img/isadora-hover.jpg");
}
.isiah-wrap { 
	grid-area: 1 / 3 / 2 / 4;
}
.nacho-wrap { 
	grid-area: 2 / 3 / 3 / 4;
}
.isadora-wrap:hover{
	background: url("/assets/img/isadora-full.jpeg");
	background-position: center center;
	background-size: cover;
	transition: 500ms ease-in-out;
}
.isiah-wrap:hover{
	background-position: center center;
	background-size: cover;
}
.nacho-wrap:hover{
	background-position: center center;
	background-size: cover;
}
}
/* @media (min-width: 768px) and (max-width: 992px){
	nav {
		display: none;
	}
	.landing-description {
		background-color: rgba(51, 51, 51, 0.9);
		position: relative;
		transform: translateY(100%);
		width: 100%;
		height: 270px;
	}
	h1{
		margin-left: 1rem;
	}
	p{
		margin-left: 1rem;
	}
	.third-section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		column-gap: 0px;
		row-gap: 0px;
	}
	.salome-wrap { 
		grid-area: 1 / 1 / 2 / 2;
		width: 33,33vw;
		background-position: right top;

	}
	.salome-wrap:hover{
		background-position: right top;

	}
	.pamela-wrap { 
		grid-area: 2 / 1 / 3 / 2;
		background-size: cover;
		background-position: center center;

	}
	.pamela-wrap:hover{
		background-size: cover;
		background-position: center center;

	}
	.isadora-wrap { 
		grid-area: 1 / 2 / 3 / 3;
		height: 100vh;
		background: url("/assets/img/isadora-hover.jpg");
		background-position: center center;
		background-size: cover;

	}
	.isiah-wrap { 
		grid-area: 1 / 3 / 2 / 4;
		background-position: center center;
		background-size: cover;

	}
	.nacho-wrap { 
		grid-area: 2 / 3 / 3 / 4;
		background-position: center center;
		background-size: cover;

	}
	.isadora-wrap:hover{
		background: url("/assets/img/isadora-full.jpeg");
		background-position: center center;
		background-size: cover;
	}
	.isiah-wrap:hover{
		background-position: center center;
		background-size: cover;

	}
	.nacho-wrap:hover{
		background-position: center center;
		background-size: cover;

	}
} */
@media (max-width: 768px) {
	.first-section{
		background-position: center center;
	}
	.landing-description {
		background:linear-gradient(176deg, rgba(242,166,73,0.8) 30%, rgba(243,222,160,0.8) 70%);
		position: relative;
		transform: translateY(100%);
		width: 100%;
		height: 270px;
	}
	h1{
		margin-left: 1rem;
	}
	p{
		margin-left: 1rem;
	}
	.third-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		column-gap: 0px;
		row-gap: 0px;
		}
		
		.salome-wrap { 
			grid-area: 1 / 1 / 2 / 3;
			background-position: center center;
			background-size: cover;
		}
		.pamela-wrap { 
			grid-area: 2 / 1 / 3 / 2;
			background: url("/assets/img/pamela-hover.jpg");
			background-position: top right;
			background-size: cover;
		}
		.isadora-wrap { 
			grid-area: 2 / 2 / 3 / 3;
			height: 50vh;
			background: url("/assets/img/isadora-sq-hover.jpg");
			background-position: top right;
			background-size: cover;
		}
		.isadora-wrap:hover { 
			background: url("/assets/img/isadora.jpg");
			background-position: top right;
			background-size: cover;
		}
		.isiah-wrap { 
			grid-area: 3 / 1 / 4 / 2;
		}
		.nacho-wrap { 
			grid-area: 3 / 2 / 4 / 3;
		}
}

h1 {
	font-family: "Bebas Neue";
	color: black;
	font-size: 60px;

}
.landing-description p {
	font-family: "Poppins";
	font-weight: 300;
	color: black;
	font-size: 20px;
}
.carousel {
	width: 100%;
	height: 100vh;
	position: relative;
}
.carousel > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 200ms opacity ease-in-out;
	transition-delay: 200ms;
}
.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.slide[data-active] {
	opacity: 1;
	z-index: 1;
	transition-delay: 0ms;
}
.carousel-button {
	position: absolute;
	z-index: 2;
	background: none;
	border: none;
	font-size: 4rem;
	top: 50%;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, .8);
	padding: 0 .5rem;
	background-color: rgba(0, 0, 0, .1);
}
.carousel-button:hover,
.carousel-button:focus {
	color: white;
	background-color: rgba(0, 0, 0, .2);
}
.carousel-button.prev {
	left: 1rem;
}
.carousel-button.next {
	right: 1rem;
}
.salome-wrap { 
	background: url("/assets/img/dani-hover.jpg");
	background-position: top right;
	background-size: cover;
	transition: 500ms ease-in-out;
}
.salome-wrap:hover{
	background: url("/assets/img/dani.jpg");
	background-position: top right;
	background-size: cover;
	transition: 500ms ease-in-out;
}
.pamela-wrap { 
	background: url("/assets/img/pamela-hover.jpg");
	background-position: top center;
	background-size: cover;
	transition: 500ms ease-in-out;
}
.pamela-wrap:hover{
	background: url("/assets/img/pamela.jpg");
	background-position: top center;
	background-size: cover;
	transition: 500ms ease-in-out;
}
.isadora-wrap { 
	background-position: center center;
	background-size: cover;
	transition: 500ms ease-in-out;
}
.isiah-wrap { 
	background: url("/assets/img/isiah-hover.jpg");
	background-position: center center;
	background-size: cover;
	transition: 500ms ease-in-out;
}
.nacho-wrap { 
	background: url("/assets/img/nacho-hover.jpg");
	background-position: center center;
	background-size: cover;
	transition: 500ms ease-in-out;
}
.isadora-wrap:hover{
	background-position: center center;
	background-size: cover;
	transition: 500ms ease-in-out;
}
.isiah-wrap:hover{
	background: url("/assets/img/isiah.jpg");
	background-position: center center;
	background-size: cover;
	transition: 500ms ease-in-out;
}
.nacho-wrap:hover{
	background: url("/assets/img/nacho.jpg");
	background-position: center center;
	background-size: cover;
	transition: 500ms ease-in-out;
}
