*{
    padding: 0;
    margin: 0;
}

header {
    justify-content: space-between;
    height: auto;
    width:100%;
    background: #F2A649;
    display: flex;
    align-items: center;
}
.logo {
    margin-left: 20px;
    height: 5vh;
    display: flex;
    height: 70px;
    
    
}
 .logo img{
      display: flex;
      height: 70px;
    
   }
nav{
    width: 100%;
    height: 100px;
}

nav ul.buttons {
    display: flex;
    height: 10px;
    justify-content: flex-end;
    align-items: center; 
    list-style: none;
    margin: 40px 20px 0 0;
    font-family: "Bebas Neue", sans-serif;
}

nav ul.buttons li{
    font-size: 30px;
    color: #000;
    margin-left: 20px;
}
nav ul.buttons li a {
    text-decoration: none;
    color: #000;
}

.titulo-container{
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 20px 20px 0 0;
    }

.titulo-container img{
   display: block;
   height: 70px;
   margin-left: 10px;
   

}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    margin-right: 100px;
    font-size: 3.75rem;
    color: white;
    

}

.container{
    background-color: #333333;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    display: grid;
    }

.main-content{
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100vh;
 }

   .image-container{
       background-color: rgba(242,208,59,0.3);
       max-width: 100%;
       height: auto;
   }

    .image-container img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
       }
       
    .animation {
        box-shadow: 0 10px 10px 0 #F2A649;
        opacity: 0.5;
    }

    .button {
        position: absolute;
        outline: none;
        border: 1vw solid rgba(0, 0, 0, 0);
        font-size: 5rem;
        font-family: Poppins;
        text-transform: uppercase;
        line-height: 15vw;
        font-weight: 100;
        color: transparent;
        display: inline-block;
        width:  200px;
        height: 200px;
        border-radius: 50%;
        text-align: center;
        margin: 10px;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .a {
        position: absolute;
        margin-top: 40px;
        margin-left: 265px;
        width:  250px;
        height: 250px;
    }

    .s {
      position: absolute;
      margin-top: 100px;
      margin-left: 960px;
      width:  240px;
      height: 240px;
    }

    .d {
      position: absolute;
      margin-top: 150px;
      margin-left: 536px;
      width:  195px;
      height: 195px;
    }

    .f {
        position: absolute;
        margin-top: 150px;
        margin-left: 775px;
        width:  195px;
        height: 195px;
    }
    
    .j {
        position: absolute;
        margin-top: 350px;
        margin-left: 556px;
        width:  195px;
        height: 195px;
    }

    .k {
        position: absolute;
        margin-top: 320px;
        margin-left: 345px;
        width:  220px;
        height: 220px;
    }

    .l {
        position: absolute;
        margin-top: 390px;
        margin-left: 875px;
        width:  170px;
        height: 170px;
      }
    
    .text-container {
        font-family: "Poppins", sans-serif;
        font-size: 1.438rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0 20px 270px;
        
    }
    
    .text-container p {
        padding: 15px;
        
    }
   
       .text-container ul li {
       content:"•";
        color: #fff;
        margin-left: 20px;
      
    }
   
  